*{
    margin: 0;
    padding: 0;
}
.cell{
    width: 33%;
    height: 350px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 8px;
}
.cell img{
    width: 600px;
    height: 550px;
    object-fit: cover;

}